<h1>Videos <%= @video.title %></h1>
<h2> Video Path: <%= @video.path %> </h2>


<video src="/<%= @video.path %>" controls="controls" width = "400" poster = "images/video_icon.png">
    your browser does not support the video tag
</video>