<h1>Category: <%= @category.name %></h1>
<%= link_to "Add Video", new_video_path %>

<h2> Videos in This Category </h2>

<% @videos.each do |video| %>
    <%= link_to "#{video.title}", video_path(video) %>
<% end %>